img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.btn.prev-btn {
  margin-right: 1rem;
}
.btn.next-btn {
  margin-left: 1rem;
}
